a{
    text-decoration: none;
}
body{
    width: 100%;
    margin: 20px 30px;
}
#htmlCssBox>div{
    border: 1px solid black;
    width: 350px;
    height: 210px;
    padding: 0px 10px 20px;
    margin: 5px;
}
#htmlCssBox{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20px;
}

#jsBox>div{
    border: 1px solid black;
    width: 350px;
    height: 210px;
    padding: 0px 10px 20px;
    margin: 5px;
}
#jsBox{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 20px;
}
span{
    display: block;
    margin-left: 50px;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}