/* 기본 여백 제거 1. 직접제거 2. css/ㅊ우 vkdlf */
*{
    padding: 0;
}
a{ color: black;
text-decoration: none;}

body{
    background-color: #F7F6F5;
}
#wrap{
    width: 400px;
    margin: 0 auto;
}

/* ===== 헤더 ===== */
#headerLogo{
    text-align: center;
    margin: 50px 0;
}
#headerLogo img{    
    height: 50px;    
}

/* ===== 본문 ===== */
/* ---------- 1. 입력상자 만들기 ----------*/
.inputBox{
    background-color: white;
    border: 1px solid #dedede ;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;    /* 세로정렬 */
}
.inputBox input, select{
    border: none;   /* 테두리 제거 */
    background-color: white;
    height: 25px; width: 100%;
}
.inputBox span{
    color: #aeaeae;
}

/* focus : input이 선택되었다는걸 표현할때 */
*:focus{outline: none;}     /* input 눌렀을때 나오는 테두리 제거 */
/* --------------------------------------- */
h5{
    margin: 20px 0 5px 0;
}

.inputIcon{
    width: 25px; height: 25px;
    background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png);
    background-size: 120px 75px;    /* 배경 가로, 세로 사이즈 */
}

#pwIcon{
    background-position-x: 0px; /* x축 위치 */
    background-position-y: 0px; /* y축 위치 */
}
#pwConfirmIcon{
    background-position-x: -78px; /* x축 위치 */
    background-position-y: 0px; /* y축 위치 */
}
#birthBox{  /* 생년월일 */
    display: flex;
    justify-content: space-between;
}
.birthY, .birthM, .birthD{
    width: 100px;
}
.titleAt{
    font-size: 9px;
    color: #aeaeae;
}
#phoneBox{
    display: flex;
    justify-content: space-between; 
    margin: 10px 0;
}
#phoneBox>input{
    background-color: #03c75a;
    border: none;
    color: white;
    font-weight: bold;
    width: 100px;
}

/* 
    #phneBox input : 자손
    #phneBox > input : 자식
 */

#phoneBox>div{
    width: 250px;
}

#inputAuth, #inputAuth>input{
    background-color: #F7F6F5;
}

#signupBtn{
    background-color: #03c75a;
    border: none;
    color: white;
    width: 100%; height: 50px;
    font-size: 20px; font-weight: bold;
    margin: 30px 0;
}

/* 푸터 */
#footerBox{
    text-align: center;
    margin-bottom: 50px;
}

#ftTop{
    font-size: 8px;
    color: #aeaeae;
}
#ftBottom img{
    height: 10px;
}
#ftBottom span{
    font-size: 5px;
}