
/* *{border: 2px solid red; padding: 10px;} */
a{color: black; text-decoration: none;}


/* ================== 폰트 적용 ================== */
body{font-family: 'Noto Sans KR', sans-serif;}

/* =========================== footer ============================== */
#footer{
    background-color: #212529;
    padding: 24px;
    color: #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
  }
  #ftText1{display: flex;justify-content: center;}
  #ftText1 > li {padding: 0 15px;color: #666; font-weight: 400;}
  #ftText1 > li > span{ font-weight: bold; color: white;}
  #ftBox{margin: 0 auto;  display: flex;}
  #ftBox > #imgBox > img {width: 120px; opacity: 40%;}
  #ftText2{
    padding: 0 15px; 
    font-weight: 400; max-width: 83.333333%;
    margin: 0 auto; line-height: 1.5;
    min-width: 992px;
  }
  #imgBox{position: relative; 
        padding-right: 15px;
        padding-left: 15px;
        max-width: 16.666666%;
  }
  .ftTt1{margin: 16px 0 0;}
  #ftText3{text-align: center;margin: 32px 0 0 0;}
  /* =========================== footer end ============================== */
  
  
  /* ================================= side bar ============================== */
  #popup{
    position: fixed; 
    right: 1%; top: 30%;
    border: 1px solid #852123 ;
    color: #852123;
    display: block; text-align: center;
    width: 100px; border-radius: 2px;
    font-size: 0.9em; font-weight: 600;
    z-index: 100; line-height: 1.6;
  }
  #popBox{background-color: white;padding-top: 10px;}
  #popBox a{background-color: white;color:#852123;;}
  .popup1, .popup2, .popup3{background-size: 53px 53px;}
  #topBox {background-color: #852123;padding: 1px;}
  #topBox a{
    background-color: #852123;
    color : white; font-weight: bold;
    text-decoration: none;
  }
  /* ================================= side bar end ============================== */