/* 헤더 마크 */
.title{
    border-left: 10px solid green;  /* 왼쪽 테두리 */
    padding-left: 10px;
}

/* 우대정보 */
.box1{
    border: 2px solid gray;       
    border-radius :10px;            /* 둥근모서리 */
    background-color: gainsboro;
    padding:20px 3px;
    width: 500px;
    height: 250px;
    margin: 20px 0;
}
li{
    margin: 10px;
}

/* 강좌 */
div{
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px 20px;
    width: 290px;
    height: 210px;
    margin: 0 30px;
}
.b{
    text-align: right;
    border-top: 1px dotted gray;
    padding-top: 20px;
}
