/* reset */
*{
  padding: 0;
  margin: 0;
  /* border: 1px solid orange; */
}
a{
  text-decoration: none;
  color: black;
}
input{
  border: none;
}
select{
  border: none;
}
li{
list-style-type: none;
}

/* ==== main_top ==== */
#mainTop{
  width: 1110px;
  margin: 0 auto;
}
#mainTop>h1{
  color: #8C6239;
  font-size: 35px;
  font-weight: bold;
  margin: 30px 0;
}
/* ==== main_top end ==== */

/* ==== main_menu ==== */
#mainMenu{
  display: flex;
  justify-content: space-between;
  width: 1110px;
  margin: 0 auto;
}
/* 선택한 페이지 메뉴 */
.menuPick{
  z-index: 5;
  width: 20%;
  border-top: 1px solid #8c6239;
  border-right: 1px solid #8c6239;
  border-left: 1px solid #8c6239;
  padding: 20px;
  text-align: center;
  color: #8C6239;
}
.menuPick>h3{
  font-size: 18px;
  font-weight: 300;
}
/* 선택한 페이지 메뉴 end */
.menuNone{  
  z-index: 1;
  width: 20%;
  background-color: #F7F0E4;
  border-top: 1px solid white;
  border-bottom: 1px solid #8c6239;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 20px;
  text-align: center;
  color: #8C6239;
}
.menuNone>h3{
  font-size: 18px;
  font-weight: 300;
}
.menuNone:hover{  /* 선택안한 메뉴에 마우스 올리면 background-color 바뀜 */
  background-color: #F9F5EE;
}
/* 선택 @안@ 한 페이지 메뉴 */

/* ==== main_menu end ==== */

/* ==== main ==== */
#main{
  width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 16px 0;
}
#main>h2{ 
  color: #8C6239;
  font-size: 35px;
  font-weight: bold;
  margin: 16px 0;
}
.gftBuy{
  display: flex;
  width: 950px;
  margin: 0 auto;
  justify-content: space-between;
}
#line{
  border-left: 1px solid #E9D7CD;
}
.gftBuyBox{
  box-sizing :border-box;
  display: inline-block;
  width: 465px;
  height: 490px;
  background-color: #9c8371;
  border-radius: 15px;
  color: white;
  padding-top: 45px;
  border: 1px solid #82624c;
  box-shadow: 3px 3px 8px #dbcabf;
}
.gftBuyBox>h3{
  font-size: 24px;
}

/* gft_boxA */
.gftBuyBoxA>p>span{
  color: black;
  font-size: 19px;
  font-weight: bold;
}
.gftBuyBoxA>span{
  display: block;
}
.gftBuyBoxA>a{
  color: white;
  display: block;
  width: 250px;
  height: 50px;
  background-color: #808080;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 12px;
}
/* gft_boxA end */

/* gft_boxB */
.gftBuyBoxB>p>span{
 color: #ffc019;
 font-size: 19px;
 font-weight: bold;
}

.gftBuyBoxB>a{
  color: white;
  display: block;
  width: 250px;
  height: 50px;
  background-color: black;
  margin: 0 auto;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 12px;

}
/* gft_boxB end */

/* ==== main end ==== */